<%-include("header"); %>

<div class=".container-lg m5">
    <div class="card-body log">
      <h5 class="card-title"><b>CONTACT US
    </b>
      </h5>
      <p class="card-text">
       
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, voluptate beatae voluptatibus nostrum enim earum, qui incidunt quaerat praesentium, eaque tempora quo. Reiciendis iste laboriosam distinctio debitis perferendis maxime ducimus?
    </div>
</div>

<%-include("footer"); %>

